@if (error) {
  <div class="error-message">{{ error }}</div>
}
<div class="grid-game">
  @for (square of grid; track square; let i = $index) {
    <div
      [id]="i"
      [ngClass]="{
        'grid-square': true,
        'open-square': square === 16,
        'game-over-1': gameOver && dances[i] === 1,
        'game-over-2': gameOver && dances[i] === 2,
      }"
      (click)="makeMove(i)">
      {{ square }}
    </div>
  }
</div>
@if (gameOver) {
  <div class="game-over-message">Congratulations! You have won!</div>
}
