:host {

  .parallel-run-column {
    margin-left: 1rem;

    .form-group {
      margin: 1rem 0;
    }

    .run-parallel {
      margin-bottom: 1rem;
    }

    .parallel-history {
      td {
        border-top: darkgray 2px solid;
      }
    }
  }

  .explanation-column {
    margin-top: 1rem;
  }
}
