<header class="menu">
  <h1 [routerLink]="''" class="logo"><span class="logo-r">R</span><span class="logo-a">A</span></h1>
<!--  <button type="button" class="btn btn-primary" routerLink="about">About</button>-->
  <button type="button" class="btn btn-primary" routerLink="experience">Experience</button>
  <div ngbDropdown class="dropdown">
    <button ngbDropdownToggle class="btn btn-primary" type="button" id="projectsMenuButton" aria-haspopup="true" aria-expanded="false">Projects</button>
    <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="projectsMenuButton">
      <a *ngFor="let item of menuItems" ngbDropdownItem class="dropdown-item" [routerLink]="item.link">{{item.name}}</a>
    </div>
  </div>
</header>
