.menu {
    display: flex;
    justify-content: flex-end;
    padding: .25em;
    background-color: #444444;
    height: 5em;
    color: #e0e0e0;
    align-items: center;

    .btn {
        border: none;
        background-color: #444444;
        color: #e0e0e0;
    }

    .btn:hover {
        background-color: #666666;
    }

    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none;
        background-color: #666666;
    }

    .logo {
        cursor: pointer;
        margin-right: auto;
        margin-left: 1em;
    }

    .dropdown:not(:last-child) {
        padding-right: 0.25em;
    }

    .dropdown-menu.show {
        background-color: #444444;

        .dropdown-item {
            color: #e0e0e0;
            text-align: right;
        }

        .dropdown-item:hover {
            background-color: #666666;
        }
    }
}
