.menu {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  background: var(--primary-grey-dark-2);
  color: var(--primary-white);
  align-items: center;
  z-index: var(--z-menu);
  position: relative;
  box-shadow: 0 3px 5px var(--primary-grey-dark-2);

  > * {
    margin-left: 0.25em;

    &:not(:first-child) {
      display: flex;
      align-items: center;
    }
  }

  .menu-link {
    .logo {
      cursor: pointer;
      width: 25px;
      height: 25px;
      margin-left: 0.75em;
    }

    .li {
      width: 28px;
    }
  }

  .dropdown:not(:last-child) {
    padding-right: 0.25em;
  }

  .dropdown-menu.show {
    background-color: var(--primary-grey-dark-2);
    transform: translate(0.25em, 40px) !important;

    .dropdown-item {
      color: var(--primary-white);
      text-align: right;
      position: relative;
      padding-right: 0.75em;
      margin-right: 0.75em;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
      outline: none;
      background-color: var(--primary-grey-dark-1);
    }

    .dropdown-item::before {
      content: '';
      position: absolute;
      border-right: 2px solid var(--primary-white);
      transition: transform 250ms ease-in;
      transform: scaleY(0);
      inset: 0.2em;
    }

    .dropdown-item:hover::before,
    .dropdown-item:focus::before {
      transform: scaleY(1);
    }
  }

  #projectsMenuButton {
    padding: 0;
    margin: var(--bs-btn-padding-y) var(--bs-btn-padding-x);

    &::after,
    &::before {
      content: none;
    }

    &:focus,
    &:hover {
      outline: 1px solid var(--primary-grey-light-2);
      border-radius: 15%;
    }
  }
}
