<div>
    <label for="calculate-primes-input">Number of Primes</label><input [(ngModel)]="numberOfPrimes" id="calculate-primes-input"/>
    <button (click)="runSimulation()">Run</button>
</div>
<table>
    <thead>
        <tr>
            <th>Number of Primes</th>
            <th>Time (ms) using WebAssembly</th>
            <th>Time (ms) using JavaScript</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let simulation of simulations">
            <td>{{simulation.numberOfPrimes}}</td>
            <td>{{simulation.wasmTime}}</td>
            <td>{{simulation.jsTime}}</td>
        </tr>
    </tbody>
</table>
