<div class="home">
    <div class="home-panels">
        <div [routerLink]="" class="dota2-panel panel-parent">
            <div class="panel-child"><div class="label">DOTA2 Twitch Extension</div></div>
        </div>
        <div [routerLink]="'about'" class="about-panel panel-parent">
            <div class="panel-child"><div class="label">About Me</div></div>
        </div>
        <div [routerLink]="'life'" class="wasm-game-of-life-panel panel-parent">
            <div class="panel-child"><div class="label">Conway's Game of Life in WebAssembly</div></div>
        </div>
        <div [routerLink]="'primes'" class="wasm-primes-panel panel-parent">
            <div class="panel-child"><div class="label">WebAssembly Performance</div></div>
        </div>
    </div>
</div>
