:host {
  --top-portrait: 150px;
  --center-portrait: calc(var(--top-portrait) + 295px - 295px/2);
  display: block;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.home {
  height: 100%;
}

.home-section {
  display: flex;
  margin: 1em 2em 2em;
  flex-direction: column;
  align-items: center;
  color: var(--primary-white);
  height: 100%;

  .title {
    text-align: center;
    background-color: rgba(from var(--primary-grey-dark-1) r g b / 0.75);
    z-index: 1;
  }
}

.visual {
  position: relative;
  height: 80vh;
}

.portrait {
  position: absolute;
  left: calc(50% - 295px / 2);
  top: var(--top-portrait);
}

#text-swirl {
  position: relative;

  > * {
    --radius: 200px;
    top: calc(var(--center-portrait));
    left: 50%;

    position: absolute;
  }
}

.about-section,
.experience-section {
  color: var(--primary-white);
  padding: 1em;

  h2 {
    text-decoration: underline;
  }
}

.about-section {
  text-align: center;
}

.experience-section {
  h2,
  h3 {
    text-align: center;
  }

  h4 {
    font-style: italic;
  }

  .years {
    font-size: 0.8em;
    font-style: normal;
  }
}
