<div class="home">
  <section class="home-section">
    <div class="title">
      <h1>Roy Adams</h1>
      <h2>Full-Stack Software Engineer</h2>
    </div>
    <div class="visual">
      <img class="portrait" src="assets/images/roy.svg" />
      <div id="text-swirl">
        <span>Angular</span>
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>Java</span>
        <span>Spring Boot</span>
        <span>Git</span>
        <span>NPM</span>
        <span>NPX</span>
        <span>NVM</span>
        <span>Subversion</span>
        <span>Jackson</span>
        <span>Weblogic</span>
        <span>Oracle</span>
        <span>Cassandra</span>
        <span>PostgreSQL</span>
        <span>Scrum</span>
        <span>Agile</span>
        <span>Accessibility</span>
        <span>WCAG</span>
        <span>Selenium</span>
        <span>Automated Testing</span>
        <span>JUnit</span>
        <span>Jasmine</span>
        <span>Karma</span>
        <span>Bootstrap</span>
        <span>MySQL</span>
        <span>Python</span>
        <span>Bash</span>
        <span>NumPy</span>
        <span>Keras</span>
        <span>Tensorflow</span>
        <span>Jira</span>
        <span>Bamboo</span>
        <span>GitLab</span>
        <span>GitHub</span>
        <span>CI/CD</span>
        <span>Microservices</span>
        <span>Angular</span>
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>Java</span>
        <span>Spring Boot</span>
        <span>Git</span>
        <span>NPM</span>
        <span>NPX</span>
        <span>NVM</span>
        <span>Subversion</span>
        <span>Jackson</span>
        <span>Weblogic</span>
        <span>Oracle</span>
        <span>Cassandra</span>
        <span>PostgreSQL</span>
        <span>Scrum</span>
        <span>Agile</span>
        <span>Accessibility</span>
        <span>WCAG</span>
        <span>Selenium</span>
        <span>Automated Testing</span>
        <span>JUnit</span>
        <span>Jasmine</span>
        <span>Karma</span>
        <span>Bootstrap</span>
        <span>MySQL</span>
        <span>Python</span>
        <span>Bash</span>
        <span>NumPy</span>
        <span>Keras</span>
        <span>Tensorflow</span>
        <span>Jira</span>
        <span>Bamboo</span>
        <span>GitLab</span>
        <span>GitHub</span>
        <span>CI/CD</span>
        <span>Microservices</span>
        <span>Angular</span>
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>Java</span>
        <span>Spring Boot</span>
        <span>Git</span>
        <span>NPM</span>
        <span>NPX</span>
        <span>NVM</span>
        <span>Subversion</span>
        <span>Jackson</span>
        <span>Weblogic</span>
        <span>Oracle</span>
        <span>Cassandra</span>
        <span>PostgreSQL</span>
        <span>Scrum</span>
        <span>Agile</span>
        <span>Accessibility</span>
        <span>WCAG</span>
        <span>Selenium</span>
        <span>Automated Testing</span>
        <span>JUnit</span>
        <span>Jasmine</span>
        <span>Karma</span>
        <span>Bootstrap</span>
        <span>MySQL</span>
        <span>Python</span>
        <span>Bash</span>
        <span>NumPy</span>
        <span>Keras</span>
        <span>Tensorflow</span>
        <span>Jira</span>
        <span>Bamboo</span>
        <span>GitLab</span>
        <span>GitHub</span>
        <span>CI/CD</span>
        <span>Microservices</span>
        <span>Angular</span>
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>Java</span>
        <span>Spring Boot</span>
        <span>Git</span>
        <span>NPM</span>
        <span>NPX</span>
        <span>NVM</span>
      </div>
    </div>
  </section>
  <section id="about" class="about-section">
    <h2>About Roy Adams</h2>
    <p>
      I am a full-stack developer with 6 years of professional experience, a
      <a href="https://www.scrum.org/assessments/professional-scrum-master-i-certification" target="_blank">
        certified Scrum Master
      </a>
      , and have degress in Computer Science and Mathematics from
      <a href="https://calvin.edu/academics/school-stem/computer-science" target="_blank">Calvin College.</a>
    </p>
    <p>
      Known for delivering performant web applications using Angular, Java Spring Boot, and a variety of backing
      databases. Experienced in Agile/Scrum methodologies, automated testing, and mentoring teams.
    </p>
  </section>
  <section id="experience" class="experience-section">
    <h2>Professional Experience</h2>
    <div>
      <h3>
        Vertafore, Inc. – East Lansing, MI
        <span class="years">(2019 – Present)</span>
      </h3>
      <h4>
        Senior Software Engineer
        <span class="years">(2025 – Present)</span>
      </h4>
      <ul>
        <li>Support other developers through mentoring and code reviews; seek opportunities for the team to grow</li>
        <li>
          Heavy emphasis on product planning, feature design, high-level estimation of future work, and coordination
          across the organization’s development teams
        </li>
        <li>
          Provide technical guidance to a development team and lead team in breaking down high-level features into
          workable user-stories
        </li>
      </ul>
      <h4>
        Software Engineer II
        <span class="years">(2022 – 2025)</span>
      </h4>
      <ul>
        <li>
          Joined the core front-end working group responsible for maintaining front-end infrastructure, applying
          third-party library updates, and building a component library used by many applications
        </li>
        <li>Triage defects reported by customers Research upcoming work through POCs and technical spikes</li>
      </ul>
      <h4>
        Software Engineer I
        <span class="years">(2019 – 2022)</span>
      </h4>
      <ul>
        <li>
          Participate as an individual contributor on a software development Scrum team by helping design and implement
          new features for an Angular web application and a Java Spring Boot microservices backend interacting with
          Oracle, Aurora (PostgreSQL), and Cassandra databases
        </li>
        <li>
          Write comprehensive unit tests and end-to-end integration tests using technologies such as JUnit, Jasmine, and
          Selenium to maintain product quality
        </li>
      </ul>
    </div>
    <div>
      <h3>
        Calvin College Computer Science Department – Grand Rapids, MI
        <span class="years">(2018)</span>
      </h3>
      <h4>Research Assistant</h4>
      <ul>
        <li>
          Build and train neural networks to classify the stance of tweets on Twitter, using python, keras/tensorflow,
          and NumPy
        </li>
        <li>
          Training data was a dataset of tweets referencing various mining conglomerates in Australia. Project goal was
          to develop a neural network to take the text of a tweet and determine whether the stance of the tweet was for
          or against a mining conglomerate.
        </li>
      </ul>
    </div>
  </section>
  <section class="projects-section">
    <h2>Projects</h2>
    <app-projects [showHeader]="false"></app-projects>
  </section>
</div>
