.primes {
    margin: 2em;
}

#calculate-primes-input {
    margin: 0 0.5em;
}

.simulation-table {
    margin-top: 1em;
}

table, td {
    border: 1px solid black;
}

th {
    border: 3px solid black;
    font-family: var(--font-header);
}

label {
    font-family: var(--font-header);
}
